.dropdown_content{
  position: absolute;  
  z-index: 1;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 250px;
  padding: 10px 0px 10px 10px;
  top: 65px;
  margin-left: -200px;
}
#dropdown_button{
   background-color: black;
   color: white;
   width: 200px;
   height: 10px;
   padding: 15px;
}